<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.smgroup.PrayertTimesNotification"
        version="0.7.0">

  <name>PrayertTimesNotification</name>

  <engines>
    <engine name="cordova" version=">=2.9.0"/>
  </engines>

  <asset src="www/payer_times_notification.js" target="js/payer_times_notification.js"/>

  <js-module src="www/payer_times_notification.js" name="PrayertTimesNotification">
    <clobbers target="PrayertTimesNotification" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PrayertTimesNotification">
        <param name="android-package" value="com.smgroup.PrayertTimesNotification"/>
      </feature>
    </config-file>

    <source-file src="src/android/PrayertTimesNotification.java" target-dir="src/com/smgroup/PrayertTimesNotification/"/>
  </platform>
</plugin>